.a-text {
    font-family: 'Noto Sans KR' , sans-serif; /*없으면 sans*/
    font-size: 40px;
    font-weight: 600;

    font-style: italic;
    text-align: center;
    line-height: 36px;

    text-decoration: underline;
    /* text-decoration: none; */
}

.b-span-text {
    text-decoration: underline;
}