.box-container {
    width: 200px;
    height: 200px;
    border: 6px solid black;
}

.box-container div {
    padding: 10px;
    border: 1px solid green;
    background-color: #ffdddd;
}

#static-box {
    position: static;
    top: 20px;
    left: 30px;
}

#relative-box {
    position: relative;
    top: 50px;
    left: 90px;
}

#absolute-box {
    position: absolute;
    top: 20px;
    right: 150px;
}

#fixed-box {
    position: fixed;
    top: 20px;
    right: 30px;
}

#relative-box-1 {
    position: relative;
    height: 80px;
    margin-top: 70px;
    border: 3px solid #669966;
    width: 200px;
}

#absolute-box-1 {
    position: absolute;
    top: 40px;
    left: 30px;
    border: 2px solid #ffdddd;
}

#sticky {
    position: sticky;
    top: 100px;
    padding: 5px;
    background-color: #669966;
    border: 2px solid #ffdddd;
}
